body{
  min-height: 500vh;
}

form.testForm{
  width: 400px;
  margin: 0 auto;
  border: 2px dashed black;
  padding: 10px 5px;

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; */

  > fieldset.tshirt{

    > div{
      display: inline-block;
      > input[type='checkbox']{
        display: none;

        &:checked + label{
          background-color: green;
          color: blue;
          font-size: larger;
          text-transform: uppercase;
          font-weight: bold;
          font-style: italic;
        }
      }
      > label{
        border: 2px solid black;
        background-color: grey;
        color: orange;
        padding: 4px 8px;
      }
      /* > input[type='checkbox']:checked + label{
        background-color: green;
      } */
    }
  }
}

input:in-range{
  background-color: green;
}
input:out-of-range{
  background-color: red;
}
input:focus{
  border: 5px dashed orange;
  outline: 0px;
}
input{
  color: purple;
}
input::placeholder{
  color: green;
}

li::marker{
  color: red;
}
*::selection{
  background-color: black;
  color: orange;
}

::-webkit-scrollbar{
  background-color: aqua;
}
::-webkit-scrollbar-track{
  /* background-color: green; */
}
::-webkit-scrollbar-thumb{
  background-color: blue;
  border-radius: 30% / 5px;
}