/* .firstTable{
  border: 1px solid black;
}

th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
} */

.firstTable, td, th{
  border: 1px solid black;
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */
}
table{

}
.firstTable{
  border-collapse: collapse;
}
td, th{
  padding: 5px;
}

ul li{
  color: red;
}

p{
  letter-spacing: 3px !important;
}

h1{
  font-size: 2.1em;
}

table>tbody>tr>td{
  color: blue;
}

/* section{
  color: grey;
  font-size: 20px;
  width: 90%;
  border: 2px dashed black;
} */

p{
  letter-spacing: 5px;
}

section{
  min-height: 100vh; /* viewport height */
}

div.boxModel{
  box-sizing: border-box;
  
  /* content */
  width: 400px;
  height: 200px;
  background-color: aqua;
  text-align: center;
  line-height: 50px;

  /* padding */
  /* padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 25px; */
  padding: 10px 15px 20px 25px;
  padding: 10px 20px; /* topBottom rightLeft*/
  /* padding: top rightLeft bottom; */
  padding: 15px;

  /* border */
  border: 5px dotted violet;
  /* border-radius: 50%; */

  /* margin (same as padding) */
  margin: 10px;
}