body{
  height: 500vh;
}

.first{
  height: 500px;
  background-color: #cf8888;
  /* font-size: 16px; */
}

@media (min-width: 500px){
  .first{
    background-color: #7373bd;
    font-size: 50px;
  }
}
@media (min-width: 800px){
  .first{
    background-color: #5d9f5d;
    font-size: unset;
  }
}

.second{
  margin-top: 50px;
  display: grid;
  place-content: center;
  gap: 20px;

  > div{
    font-size: 50px;
    border: 3px solid black;
    display: grid;
    place-items: center;

    width: 400px;
    height: 150px;
  }
}

@media (min-width: 768px){
  .second{
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    > div:nth-child(2){
      grid-row: span 2;
      width: unset;
      height: unset;
    }
  }
}

@media (min-width: 1000px){
  .second{
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: unset;

    > div:nth-child(2){
      grid-row: unset;
      height: 400px;
    }
    > div{
      width: unset;
      height: 400px;
    }
  }
}